.sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 40px;
    gap: 12px;
}

.div_sobre{
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: column;
}
