
.titulo__principal {
    font-family: var(--font-noto-sans);
    font-size: var(--txt-large);
    line-height: 36px;
}

.txt__small {
    font-family: var(--font-noto-sans);
    font-size: var(--txt-small);
    font-weight: 300;
    line-height: 24px;
}
.txt__medium {
    font-family: var(--font-noto-sans);
    font-size: var(--txt-medium);
    font-weight: 700;
}

.txt_footer{
    color: white;
    font-family: var(--font-noto-sans);
    font-weight: 200px;
    font-size: 20px;
    
}

.txt_sobre{
    font-family: var(--font-noto-sans); 
    font-weight: 600;
    font-size: 30px;
   

}
.txt{
    font-family: var(--font-noto-sans);
    font-size: 20px;
}